.b-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: color, background-color, border-bottom-color .3s;
}

.b-header.scroll {
    color: #555;
    background-color: #fff;
    border-bottom-color: #999;
}

.b-header__container {
    padding: 5px 20px;
    z-index: 10;
}

.b-header__logo {
    float: left;
    padding: 20px 0;
    font-weight: 900;
}

.b-header__logo a {
    color: #fff;
}

.b-header__logo a:hover {
    color: #d4d4d4;
}

.b-header a {
    transition: all .3s;
}

.b-header.scroll a {
    color: #555;
}

.b-header__nav {
    float: left;
    padding-left: 60px;
}

.b-header__item {
    float: left;
}

.b-header__link {
    display: block;
    padding: 20px;
    color: #fff;
}

.b-header__link.active {
    cursor: default;
    color: #8D9FFF;
}

.b-header__link:hover {
   color: #d4d4d4;
}

.b-header__link.active:hover {
    color: #8D9FFF;
}