.App {
    height: 4000px;
}

a {
    transition: color, opacity .3s;
}

.g-clearfix:before,
.g-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.g-container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}
