a {
    transition: color, opacity .3s;
}

.g-page {
    height: 4000px;
}

.g-clearfix:before,
.g-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.g-container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.g-banner {
    height: 332px;
    background: 0 0 no-repeat;
    background-size: cover;
}

.g-banner__container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.g-banner__title {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.g-btn {
    display: block;
    padding: 0 20px;
    height: 50px;
    color: #fff;
    border: none;
    background: #876fc3;
    font-size: 16px;
    line-height: 25px;
    cursor: pointer;
    transition: all .3s;
}

.g-btn:hover {
    opacity: .8;
}
